<section ng-controller="WeekSevenCtrl">
	<ng-include src="'views/shared/progressbar.html'"></ng-include>
	<h2>Goal: Read Jon Duckett's JavaScript Book
<br><br>
Introduction: skim p.1 - p.10
<br><br>
Chapter 1 - The ABC of Programming: skim p.11 - p.52
<br><br>
Chapter 2 - Basic JavaScript Instructions:  Read and Code p.53 - p.84 - (lots more coding to be done in this chapter)
<br><br>
Important Note: We do not expect you to memorize everything you read in this book. We recommend that you come back in the following weeks to reread this sections, so you can pick up anything you missed the first time around.</h2>

	<div class="row text-center">
		<div class="checkbox">
	        <label style="font-size: 2.5em">
	            <input type="checkbox" ng-model="chapter7.jsreading" value="" ng-change="adjustProgress(5, chapter7.jsreading)" checked>
	            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
	        </label>
		</div>
	</div>

	<button ng-click="modalMe('Chapter 8')" class="button is-ruby text-center" ng-show="chapter7.jsreading" data-toggle="modal" data-target="#successModal">You're DONE!</button><br>
	<button ng-click="proceed('home')" class="button is-ruby">Exit</button>

	<!-- Modal -->
<div id="successModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        
        <ng-include src="'views/shared/success.html'"></ng-include>
        

      <div class="modal-footer">
      	<button ng-click="finishChapter('8.1')"class="button is-blue-jeans pull-right" data-dismiss="modal">Continue</button>
        <button class="button is-ruby pull-left" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

</section>
