<meta name="viewport" content="width=device-width, initial-scale=1">
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">&times;</a>
  <a href="/#/home">Home</a>
  <a href="/#/chapter1">Chapter 1</a>
  <a href="/#/chapter2.1" ng-show="nav2" >Chapter 2</a>
  <a href="/#/chapter3.1" ng-show="nav3">Chapter 3</a>
  <a href="/#/chapter4.1" ng-show="nav4">Chapter 4</a>
  <a href="/#/chapter5.1" ng-show="nav5">Chapter 5</a>
  <a href="/#/chapter6.1" ng-show="nav6">Chapter 6</a>
  <a href="/#/chapter7.1" ng-show="nav7">Chapter 7</a>
  <a href="/#/chapter8.1" ng-show="nav8">Chapter 8</a>
  <a href="/#/chapter9.1" ng-show="nav9">Chapter 9</a>
  <a href="/#/chapter10.1" ng-show="nav10">Chapter 10</a>
  <a href="/#/chapter11.1" ng-show="nav11">Chapter 11</a>
  <a href="/#/chapter12.1" ng-show="nav12">Chapter 12</a>
  <a href="/#/chapter13.1" ng-show="nav13">Chapter 13</a>
  <a href="/#/chapter14.1" ng-show="nav14">Chapter 14</a>
  <a href="/#/chapter15.1" ng-show="nav15">Chapter 15</a>
  <a href="/#/chapter16.1" ng-show="nav16">Chapter 16</a>
</div>

<!-- Use any element to open the sidenav -->
<!-- <span ng-click="openNav()">Open</span> -->