<h3 class="text-left">{{completeRate}} Pts.</h3>
<div class="progress">
	<div class="one success-color"></div><div class="two success-color"></div><div class="three success-color"></div>
  	<div class="progress-bar" role="progressbar" aria-valuenow={{completeRate}} aria-valuemin="0" aria-valuemax="100" style="width:{{completeRate}}%">
  </div>
</div>

<style>

</style>
<body>
<!-- <div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a ng-click="proceed('home')">Home</a>
  <a ng-click="proceed('chapter1')">Chapter1</a>
  <a ng-click="proceed('chapter2.1')">Chapter2</a>
  <a ng-click="proceed('chapter3.1')">Chapter3</a>
</div>
  <span style="font-size:30px;cursor:pointer" onclick="openNav()" id="sidebar-button">&#9776;</span> -->

 
