<h3 class="text-left">{{completeRate}}% Complete</h3>
<div class="progress">
	<div class="one success-color"></div><div class="two success-color"></div><div class="three success-color"></div>
  	<div class="progress-bar" role="progressbar" aria-valuenow={{completeRate}} aria-valuemin="0" aria-valuemax="100" style="width:{{completeRate}}%">
  </div>
</div>

<style>

</style>
<body>
<!--  
<script>
</script>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">Home</a>
  <a href="#">Chapter1</a>
  <a href="#">Chapter2</a>
  <a href="#">Chapter3</a>
</div>
  <span style="font-size:30px;cursor:pointer" onclick="openNav()" id="sidebar-button">&#9776; open</span>

  -->
