<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>

      </div>
      <div class="modal-body">

      <ng-form name="breaktime" novalidate>
        <label>How many weeks do you want to add for this break for the selected group of students?</label>
        <input type="number" class="form-control" ng-model="weeks" name="">
      </ng-form>

      </div>
      <div class="modal-footer">
      	<div class="btn-toolbar text-center">
      		<!-- Edit button -->
      		<button ng-disabled="disableButton" class="button is-blue-jeans" ng-click="addBreak(weeks)" data-dismiss="modal">Add Break</button>
      		
          <!-- Close -->
          <button class="button is-ruby" type="button" class="btn btn-primary" data-dismiss="modal" ng-click="clearWeeks()">Close</button>
        </div>
      	
      </div>
    </div>

  </div>