<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>

      </div>
      <div class="modal-body">

      <p>Are you sure you want to graduate this class?</p>

      </div>
      <div class="modal-footer">
      	<div class="btn-toolbar text-center">
      		<!-- Edit button -->
      		<button class="button is-blue-jeans" ng-click="graduateClass()" data-dismiss="modal">Graduate!</button>
      		
          <!-- Close -->
          <button class="button is-ruby" type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      	
      </div>
    </div>

  </div>