<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Hired Info</h4>
      </div>
      <div class="modal-body">
        <p>Employer</p>
        <input ng-model="employer">
        <p>Job title</p>
        <input ng-model="title">
        <p> Type of job?</p>
        <input ng-model="type">
        <p>Languages</p>
        <input ng-model="languages">
        <p> College degree</p>
        <input ng-model="collegedegree">
        <p> Major</p>
        <input ng-model="major">
        <br>
        <button class="button is-blue-jeans" class="close" data-dismiss="modal" ng-click="updateHiringInfo()">Update</button>
      </div>
    </div>

  </div>