<section ng-controller="WeekTwoCtrl">
	<ng-include src="'views/shared/progressbar.html'"></ng-include>
	<h1>Replicate Intermediate Project from this link</h1>

	<div class="row text-center">
		<div class="checkbox">
	        <label style="font-size: 2.5em">
	            <input type="checkbox" ng-model="chapter2.intermediateProject"value="" ng-change="adjustProgress(5, chapter2.intermediateProject)" checked>
	            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
	        </label>
		</div>
	</div>

	<div class="btn-toolbar">
		<button ng-click="proceed('chapter2.1')" class="button is-ruby pull-left"><span class="glyphicon glyphicon-chevron-left"></span></button>

		<button ng-click="proceed('chapter2.3')" class="button is-ruby pull-right"ng-show="chapter2.intermediateProject"><span class="glyphicon glyphicon-chevron-right"></span></button>	
	</div>

	<button ng-click="proceed('home')" class="button is-ruby">Exit</button>	
</section>
