html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

.one, .two, .three{
  position:absolute;
  margin-top:-10px;
  z-index:1;
  height:40px;
  width:40px;
  border-radius:25px;
  
}
.one{
  left:25%;
}
.two{
  left:50%;
}
.three{
  left:75%;
}

  .form-control{
    width: 50% !important;
    margin: auto;
  }

  .create-user{
    width: 100% !important;
  }

  body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: rgba(158, 158, 158, 0.12);
    padding: 0;
    margin: 0;
}

  nav{
  	text-align: center;
  }
  nav li{
  	text-decoration: none;
  	display: inline;
  	font-size: 1.7em;
  	padding: 15px;
  }

  nav a{
  	color: white;
  }

  nav a:hover{
  	text-decoration: none !important;
  	color: lightblue;
  }

  .jumbotron{
    color: turquoise;
    /*background-color: #CC5500;*/
  }

  .btn-toolbar {
    margin-top: 3%;
  }

  .task-box{
    border:1px solid lightgray;
    background-color: ;
  }

  .task-row{
    margin-top: 2%;
  }

  .expand-task{
    display: none;
  }

  .show-content{
    display: block !important;
  }

  .assignment{
    text-align: center;
    border: 1px solid lightgray;
    border-top: 1px solid white !important;
  }

  .closeme, .exitBtn{
    float: right;
  }

  .videoFrame{
    margin-top: 5%;
  }

  ul{
    list-style-position: inside;
  }

  li{
    list-style-type: none;
  }

  .input-group-addon:last-child {
    border-left: 0;
    width: 5%;
  }

  td, th{
    text-align: center;
  }

  td:hover{
    cursor: pointer;
  }

  textarea.form-control {
    height: auto;
    width: 80%;
    margin: auto;
  }

  /*span.glyphicon.glyphicon-envelope {
    margin-left: 2%;
  }

  span.glyphicon.glyphicon-comment {
    margin-left: 2%;
  }*/

  .ui-datepicker {
  background-color: #fff;
  border: 1px solid #66AFE9;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(102,175,233,.6);
  display: none;
  margin-top: 4px;
  padding: 10px;
  width: 240px;
}
.ui-datepicker a,
.ui-datepicker a:hover {
  text-decoration: none;
}
.ui-datepicker a:hover,
.ui-datepicker td:hover a {
  color: #2A6496;
  -webkit-transition: color 0.1s ease-in-out;
     -moz-transition: color 0.1s ease-in-out;
       -o-transition: color 0.1s ease-in-out;
          transition: color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-header {
  margin-bottom: 4px;
  text-align: center;
}
.ui-datepicker .ui-datepicker-title {
  font-weight: 700;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  cursor: default;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  height: 20px;
  line-height: 1;
  margin-top: 2px;
  width: 30px;
}
.ui-datepicker .ui-datepicker-prev {
  float: left;
  text-align: left;
}
.ui-datepicker .ui-datepicker-next {
  float: right;
  text-align: right;
}
.ui-datepicker .ui-datepicker-prev:before {
  content: "\e079";
}
.ui-datepicker .ui-datepicker-next:before {
  content: "\e080";
}
.ui-datepicker .ui-icon {
  display: none;
}
.ui-datepicker .ui-datepicker-calendar {
  table-layout: fixed;
  width: 100%;
}
.ui-datepicker .ui-datepicker-calendar th,
.ui-datepicker .ui-datepicker-calendar td {
  text-align: center;
  padding: 4px 0;
}
.ui-datepicker .ui-datepicker-calendar td {
  border-radius: 4px;
  -webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
     -moz-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
       -o-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
          transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-calendar td:hover {
  background-color: #eee;
  cursor: pointer;
}
.ui-datepicker .ui-datepicker-calendar td a {
  text-decoration: none;
}
.ui-datepicker .ui-datepicker-current-day {
  background-color: #4289cc;
}
.ui-datepicker .ui-datepicker-current-day a {
  color: #fff
}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable:hover {
  background-color: #fff;
  cursor: default;
}


/*******************************
* ACCORDION WITH TOGGLE ICONS
* Does not work properly if "in" is added after "collapse".
* Get free snippets on bootpen.com
*******************************/
  .panel-group .panel {
        border-radius: 0;
    box-shadow: none;
    /* border-color: #EEEEEE; */
    margin: 2%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  .panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: #FAFAFA;
    border-color: #EEEEEE;
  }

  .panel-title {
    font-size: 14px;
  }

  .panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
  }

  .more-less {
    float: right;
    color: #212121;
  }

  .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #EEEEEE;
  }

/* ----- v CAN BE DELETED v ----- */

.demo {
  padding-top: 60px;
  padding-bottom: 110px;
}

.demo-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px;
  background-color: #212121;
  text-align: center;
}

.demo-footer > a {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
}

.panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
    background-color: turquoise;
    color: white;
    font-size: 25px;
}

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #ebebeb;
    overflow-x: hidden;
    text-align: center;
}

header {
    width: 100%;
    height: 50px;
    background-color: #f44355;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

header > nav > div {
    float: left;
    width: 16.6666%;
    height: 100%;
    position: relative;
}

header > nav > div > a {
    text-align: center;
    width: 100%;
    height: 100%;
    display: block;
    line-height: 50px;
    color: #fbfbfb;
    transition: background-color 0.2s ease;
    text-transform: uppercase;
}

header > nav > div:hover > a {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

header > nav > div > div {
    display: none;
    overflow: hidden;
    background-color: white;
    min-width: 200%;
    position: absolute;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    padding: 10px;
}

header > nav > div:not(:first-of-type):not(:last-of-type) > div {
    left: -50%;
    border-radius: 0 0 3px 3px;
}

header > nav > div:first-of-type > div {
    left: 0;
    border-radius: 0 0 3px 0;
}

header > nav > div:last-of-type > div {
    right: 0;
    border-radius: 0 0 0 3px;
}

header > nav > div:hover > div {
    display: block;
}

header > nav > div > div > a {
    display: block;
    float: left;
    padding: 8px 10px;
    width: 46%;
    margin: 2%;
    text-align: center;
    background-color: #f44355;
    color: #fbfbfb;
    border-radius: 2px;
    transition: background-color 0.2s ease;
}

header > nav > div > div > a:hover {
    background-color: #212121;
    cursor: pointer;
}

h1 {
    font-weight: 100;
    color: white;
}

p {
    color: #aaa;
    font-weight: 300;
}

.panel-group {
    margin-bottom: 20px;
    text-align: left;
}

.flatCheckbox
{
    width: 120px !important;
    height: 50px !important;
    margin: 20px 30px !important;
    position: relative !important; 
}
.flatCheckbox div
{
    width: 100% !important;
    height:100% !important;
    background: #2fca6c !important;
    position: relative !important;
    top:-30px !important;
}

.flatCheckbox input[type=checkbox]:checked ~ div
{
    background: #e9513a !important;
}

.flatCheckbox input[type=checkbox]:checked ~ label {
    left: 75px !important;
}

html {
    font-size: calc(1em + 1vw);
}
body {
  background: #eee;
}

/* setting the max width*/

@media screen and (min-width: 50em) {
    html {
        font-size: 1.8em;
    }
}

@media screen and (min-width: 80em) {
    .button {
        
        padding: 2.3em 2em 1em 2em;
    }
}

select {
  background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
  background-color:#3498DB;
  background-repeat:no-repeat;
  background-position: right 10px top 15px;
  background-size: 16px 16px;
  color:white;
  padding:12px 40px;
  width:auto;
  font-family:arial,tahoma;
  font-size:16px;
  font-weight:bold;
  color:#fff;
  text-align:center;
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius:3px;
  -webkit-border-radius:3px;
  -webkit-appearance: none;
  border:0;
  outline:0;
  -webkit-transition:0.3s ease all;
     -moz-transition:0.3s ease all;
      -ms-transition:0.3s ease all;
       -o-transition:0.3s ease all;
          transition:0.3s ease all;
}

#blue {
  background-color:#3498DB;
}

#blue:hover {
  background-color:#2980B9;
}

#green {
  background-color:#2ECC71;
}

#green:hover {
  background-color:#27AE60;
}

#red {
  background-color:#E74C3C;
}

#red:hover {
  background-color:#C0392B;
}

select:focus, select:active {
  border:0;
  outline:0;
}

body {
    margin: 3vw;
}

.buttons-parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 3vw;
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif
}

p {
    text-align: center;
    font-size: 2vw;
    font-family: sans-serif;
}

.button {
    border: none;
    text-align: center;
    padding: 1.2vw 3vw 1vw;
    border-radius: 0.2vw;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1.3vw;
    outline: none;
    cursor: pointer;
    transition: all .15s;
    color: white;
}

.container-fluid.student-table {
    margin-top: 5%;
}

.form-group.filters {
    text-align: left;
}



button:active {
    transform: translateY(.2vw);
}

.is-ruby {
    background: #D8334A;
    box-shadow: 0 .4vw 0 hsl(351, 67%, 43%);
    font-size: 20px;

}

.is-ruby:hover {
    background: #BF263C
}

.is-alizarin {
    background: #e74c3c;
    box-shadow: 0 .4vw 0 hsl(6, 63%, 46%);
}

.is-alizarin:hover {
    background: #c0392b;
}

.is-grapefruit {
    background: #ED5565;
    box-shadow: 0 .4vw 0 hsl(354, 67%, 49%);
}

.is-grapefruit:hover {
    background: #DA4453;
}

.is-carrot {
    background: #e67e22;
    box-shadow: 0 .4vw 0 hsl(24, 100%, 39%);
}

.is-carrot:hover {
    background: #d35400;
}

.is-bittersweet {
    background: #FC6E51;
    box-shadow: 0 .4vw 0 hsl(8, 79%, 48%);
}

.is-bittersweet:hover {
    background: #E9573F;
}

.is-sunflower {
    background: #FFCE54;
    box-shadow: 0 .4vw 0 hsl(40, 91%, 55%);
}

.is-sunflower:hover {
    background: #F6BB42;
}

.is-straw {
    background: #E8CE4D;
    box-shadow: 0 .4vw 0 hsl(49, 72%, 51%);
}

.is-straw:hover {
    background: #E0C341;
}

.is-grass {
    background: #A0D468;
    box-shadow: 0 .4vw 0 hsl(89, 47%, 48%);
}

.is-grass:hover {
    background: #8CC152;
}

.is-emerald {
    background: #2ecc71;
    box-shadow: 0 .4vw 0 hsl(145, 63%, 40%);
}

.is-emerald:hover {
    background: #27ae60;
}

.is-basil {
    background: #2ECC71;
    box-shadow: 0 .4vw 0 hsl(145, 63%, 39%);
}

.is-basil:hover {
    background: #2ABA66;
}

.is-mint {
    background: #48CFAD;
    box-shadow: 0 .4vw 0 hsl(165, 55%, 44%);
}

.is-mint:hover {
    background: #37BC9B;
}

.is-turquoise {
    background: #1abc9c;
    box-shadow: 0 .4vw 0 hsl(168, 76%, 30%);
}

.is-turquoise:hover {
    background: #16a085;
}

.is-teal {
    background: #A0CECB;
    box-shadow: 0 .4vw 0 hsl(180, 25%, 56%);
}

.is-teal:hover {
    background: #7DB1B1;
}

.is-aqua {
    background: #4FC1E9;
    box-shadow: 0 .4vw 0 hsl(196, 68%, 44%);
}

.is-aqua:hover {
    background: #3BAFDA;
}

.is-blue-jeans {
    background: #5D9CEC;
    box-shadow: 0 .4vw 0 hsl(214, 68%, 44%);
}

.is-blue-jeans:hover {
    background: #4A89DC;
}

.is-lavender {
    background: #AC92EC;
    box-shadow: 0 .4vw 0 hsl(257, 58%, 60%);
}

.is-lavender:hover {
    background: #967ADC;
}

.is-plum {
    background: #8067B7;
    box-shadow: 0 .4vw 0 hsl(258, 35%, 34%);
}

.is-plum:hover {
    background: #6A50A7;
}

.is-pink-rose {
    background: #EC87C0;
    box-shadow: 0 .4vw 0 hsl(324, 56%, 58%);
}

.is-pink-rose:hover {
    background: #D770AD;
}

.is-beover {
    background: #BAA286;
    box-shadow: 0 .4vw 0 hsl(34, 28%, 44%);
}

.is-beover:hover {
    background: #AA8E69;
}

.is-chocolate {
    background: #8E8271;
    box-shadow: 0 .4vw 0 hsl(35, 11%, 34%);
}

.is-chocolate:hover {
    background: #7B7163;
}

.is-light-gray {
    background: #F5F7FA;
    box-shadow: 0 .4vw 0 hsl(214, 16%, 86%);
    color: black;
}

.is-light-gray:hover {
    background: #E6E9ED;
}

.is-gray {
    background: #ccd1d9;
    box-shadow: 0 .4vw 0 hsl(215, 13%, 70%);
}

.is-gray:hover {
    background: #bdc3cc;
}

.is-dark-gray {
    background: #656D78;
    box-shadow: 0 .4vw 0 hsl(215, 11%, 20%);
}

.is-dark-gray:hover {
    background: #434A54;
}

.is-charcoal {
    background: #3C3B3D;
    box-shadow: 0 .4vw 0 hsl(270, 2%, 8%);
}

.is-charcoal:hover {
    background: #262527;
}

.is-chocalate {
    background: #8E8271;
    box-shadow: 0 .4vw 0 hsl(35, 11%, 34%);
}

.is-chocalate:hover {
    background: #7B7163;
}

.is-peter-river {
    background: #3498db;
    box-shadow: 0 .4vw 0 #236d9f;
}

.is-peter-river:hover {
    background: #2980b9;
}

.is-amethyst {
    background: #9b59b6;
    box-shadow: 0 .4vw 0 hsl(282, 44%, 38%);
}

.is-amethyst:hover {
    background: #8e44ad;
}

.is-clouds {
    background: #ecf0f1;
    box-shadow: 0 .4vw 0 hsl(204, 8%, 84%);
    color: black
}

.is-clouds:hover {
    background: hsl(204, 8%, 88%);
}

.is-concrete {
    background: #95a5a6;
    box-shadow: 0 .4vw 0 hsl(184, 6%, 46%);
}

.is-concrete:hover {
    background: #7f8c8d;
}

.is-wet-asphalt {
    background: #34495e;
    box-shadow: 0 .4vw 0 #000000;
}

.is-wet-asphalt:hover {
    background: #243342;
}

.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

@media (max-width:600px) {
    header > nav > div > div > a {
        margin: 5px 0;
        width: 100%;
    }
    header > nav > div > a > span {
        display: none;
    }
}

  @media screen and (min-width: 768px){

  .modal-dialog {
      right: auto;
      left: 0% !important;
      width: 600px;
      padding-top: 30px;
      padding-bottom: 30px;
  }
}


/* Sidebar css */

body {
   /* font-family: "Lato", sans-serif; */
    transition: background-color .5s;
    transition: margin-left .5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#sidebar-button
{
    float: left;
}


