html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

  nav{
  	text-align: center;
  	background-color: black;
  	padding: 15px 0 15px 0;
  }
  nav li{
  	text-decoration: none;
  	display: inline;
  	font-size: 1.7em;
  	padding: 15px;
  }

  nav a{
  	color: white;
  }

  nav a:hover{
  	text-decoration: none !important;
  	color: lightblue;
  }

  .jumbotron{
    color: turquoise;
    /*background-color: #CC5500;*/
  }

  .task-box{
    border:1px solid lightgray;
  }

  .task-row{
    margin-top: 2%;
  }

  .expand-task{
    display: none;
  }

  .show-content{
    display: block !important;
  }

  .assignment{
    text-align: center;
    border: 1px solid lightgray;
    border-top: 1px solid white !important;
  }

  .closeme{
    float: right;
  }

  .videoFrame{
    margin-top: 5%;
  }





