<section ng-controller="WeekFiveCtrl">
<!-- menu div -->
<div class="text-left">
	<button class="btn btn-xs btn-primary text-left" ng-click="openNav()">Menu</button>
</div>
<!-- shared view -->
<ng-include src="'views/shared/nav.html'"></ng-include>
<!-- must include main -->
<div id="main">
<ng-include src="'views/shared/progressbar.html'"></ng-include>
<div class="row">
	<div class="col-md-2">
		<ng-include src="'views/shared/nav.html'"></ng-include>
	</div>
	<div class="col-md-10">
		</div>
			<h2>Using Google and at least one other project from week 1, add media queries to make them responsive, make sure you scale your screen size down from left to right, and fix any elements that break (don't look good).<br><br>

If you get stuck on Google, check out our version <a href="http://codifyacademy.com/google-responsive/">Responsive Google</a>, for the others it's up to you to decide how to make it look good!<br><br>

Remember this is just practice, don't worry about making it "perfect"</h2>

			<div class="row text-center">
			<input placeholder="Enter your github URL here" type="text" name="" class="form-control" ng-model="chapter5.beginnerProjectURL" />
				<div class="checkbox">
			        <label style="font-size: 2.5em">
			            <input type="checkbox" ng-model="chapter5.beginnerProject"value="" ng-change="adjustProgress(5, chapter5.beginnerProject)" checked>
			            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
			        </label>
				</div>
			</div>
			<div class="btn-toolbar">
				<button ng-click="proceed('chapter5.2')" class="button is-ruby pull-right" ng-show="chapter5.beginnerProject"><span class="glyphicon glyphicon-chevron-right"></span></button>	
			</div>
			
			<button ng-click="proceed('home')" class="button is-ruby">Exit</button>
		</div>
	
</div>
</section>

