<style type="">
	input{
		width: 50% !important;
	}
</style>

<section ng-controller="AdminCtrl">

	<div ng-hide="!isAdmin" class="form-group">
	    <span class="glyphicon glyphicon-calendar"></span><input style="width: 10% !important" ng-model="search.date" type="text" id="datePicker">
	</div>
	<button ng-if="isAdmin" class="btn btn-primary btn-xs" ng-click="filterStudents(search)">Filter By Start Date</button>

<div ng-if="isAdmin">
	<a href="" ><span ng-click="getCurrentStudents(true)" ng-show="!isAlumni">Graduate View</span><span ng-click="getCurrentStudents(false)" ng-show="isAlumni">Current Student View</span></a>

	<header>
		<nav>
			<h1>Admin Page <span><img class="icon icons8-Icons8-Logo" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAACTklEQVRoQ+1ZvUvDQBR/pw06OAiCTgoi6GoRrpufIDoIgnRSUP+CtmMnHRTd1MlRnRUtOFgni6DQK9KuCuI/oKCCUmjxycUqacjHxbu2iJfxLu+939eFkBD44xf54/hBE7A7mM/n28vlcgwRRwFgsLJfIIRkQqHQTjgcflbpulIHGGNLALAFAO0uIDn4BKV0XxUJZQQq4PcEgS2rIqGEAI9NqVR68FDezuvZMIxeHqdsNrtICIlb44aI25FI5EBEjEAEGGMxAOAx4dnmcSggIo9DLyFkRWSg5Z5tALCeE3t5wTCMMb8zI0SgovCFRaWAWH99e4FSGvaqFiLAGMs3APw3bs/z4ksgl8vFEZE/WRp1ebrgS6DB6puiUUpdcbpu4NkMNkpyp7lk+tQRqyZQL5e0A/VS2m2OdkA7IKmAjpBdwJu7Ipxcv8F7EWF+vA2G+lurbpHdt89T7kBi9xGeXj/MOT1dzbC21FE1U3a/rgS6O5thfdmdwG/2a06AR+T46itCCxPOEZLZrzkByYdK4HLlZyAwAskCTUBSQOly7YC0hJINtAOSAkqX/z8HnCQbHugzv1Rc3t5XfQxwW/eSXVUv3+9CVhCqhvKeqnoFIpCMTpkObBymq+rc1r0cUNVLE+AqawcsWQsqxv+JUHJuchaamk4Q8GXz8PznJ57buucBVthLyIFkdCoDACMmKISDjaM0/83Es++47vP0UdaLzxEmgICDBEmqpVyMr6Yy5r9eTsBp3Y+Aql7CBKRfZGrYQMiBGs6Xbq0JSEso2eATx4PSQJvDc+MAAAAASUVORK5CYII=" width="48" height="48"></span></h1>

		</nav>
	</header>
	

	<div class="container-fluid student-table">
	
		<div class="btn-toolbar">
	  		<button class="btn btn-xs btn-primary" data-target="#mentorModal" data-toggle="modal" href="">Manage Mentors</button>

	  		<button class="btn btn-xs btn-primary" data-target="#addBreakModal" data-toggle="modal">Add break</button>
	  	</div>

	<div class="form-group filters">
		
		<select ng-change="filterStudents(search)" ng-model="search.mentor" ng-options="mentor.firstname as mentor.firstname for mentor in mentors">
			<option value="">All</option>
	  	</select>

	  	<select ng-change="filterStudents(search)" ng-model="search.time" ng-options="time for time in times">
			<option value="">All</option>
	  	</select>

	  	
	  	<button data-target="#contactModal" data-toggle="modal"class="button is-blue-jeans">Contact <span ng-show="!search.mentor">All classes </span> <span ng-show="search.mentor">{{search.mentor}}'s Class </span><span class="glyphicon glyphicon-envelope"></span></button>

	  	<button data-target="#graduateModal" data-toggle="modal" class="button is-ruby">Graduate Class <span class="glyphicon glyphicon-education"></span></button>

	  	<!-- <button class="button is-blue-jeans">Send SMS to <span ng-show="!search.mentor">All classes </span> <span ng-show="search.mentor">{{search.mentor}}'s Class </span><span class="glyphicon glyphicon-comment"></span></button> -->
  	
	</div>
	<table class="table table-striped table-sm table-responsive">
		<thead>
			<th>Student Name</th>
			<th>Mentor</th>
			<th>Week 1</th>
			<th>Week 2</th>
			<th>Week 3</th>
			<th>Week 4</th>
			<th>Week 5</th>
			<th>Week 6</th>
			<th>Week 7</th>
			<th>Week 8</th>
			<th>Week 9</th>
			<th>Week 10</th>
			<th>Week 11</th>
			<th>Week 12</th>
			<th>Week 13</th>
			<th>Week 14</th>
			<th>Week 15</th>
			<th>Week 16</th>
		</thead>
		<tbody>
			<tr ng-repeat="s in (filteredStudents = studentArray | filter: search)">
				<td  data-target="#myModal" data-toggle="modal"><a ng-click="getStudentInfo(s)" href="">{{s.name | uppercase}}</a></td>
				<td>{{s.mentor}}</td>
				<td  data-target="#weekModal" data-toggle="modal" ng-click ="showWeek(s.chapter1)">{{s.week1CompleteRate | percentage:0}}</td>
				<td data-target="#weekModal" data-toggle="modal" ng-click ="showWeek(s.chapter2)">{{s.week2CompleteRate | percentage:0}}</td>
				<td data-target="#weekModal" data-toggle="modal" ng-click ="showWeek(s.chapter3)">{{s.week3CompleteRate | percentage:0}}</td>
				<td data-target="#weekModal" data-toggle="modal" ng-click ="showWeek(s.chapter4)">{{s.week4CompleteRate | percentage:0}}</td>
				<td data-target="#weekModal" data-toggle="modal" ng-click ="showWeek(s.chapter5)">{{s.week5CompleteRate | percentage:0}}</td>
				<td data-target="#weekModal" data-toggle="modal" ng-click ="showWeek(s.chapter6)">{{s.week6CompleteRate | percentage:0}}</td>
				<td data-target="#weekModal" data-toggle="modal" ng-click ="showWeek(s.chapter7)">{{s.week7CompleteRate | percentage:0}}</td>
				<td data-target="#weekModal" data-toggle="modal" ng-click ="showWeek(s.chapter8)">{{s.week8CompleteRate | percentage:0}}</td>
				<td data-target="#weekModal" data-toggle="modal" ng-click ="showWeek(s.chapter9)">{{s.week9CompleteRate | percentage:0}}</td>
				<td data-target="#weekModal" data-toggle="modal" ng-click ="showWeek(s.chapter10)">{{s.week10CompleteRate | percentage:0}}</td>
				<td data-target="#weekModal" data-toggle="modal" ng-click ="showWeek(s.chapter11)">{{s.week11CompleteRate | percentage:0}}</td>
				<td data-target="#weekModal" data-toggle="modal" ng-click ="showWeek(s.chapter12)">{{s.week8CompleteRate | percentage:0}}</td>
				<td data-target="#weekModal" data-toggle="modal" ng-click ="showWeek(s.chapter13)">{{s.week13CompleteRate | percentage:0}}</td>
				<td data-target="#weekModal" data-toggle="modal" ng-click ="showWeek(s.chapter14)">{{s.week14CompleteRate | percentage:0}}</td>
				<td data-target="#weekModal" data-toggle="modal" ng-click ="showWeek(s.chapter15)">{{s.week15CompleteRate | percentage:0}}</td>
				<td data-target="#weekModal" data-toggle="modal" ng-click ="showWeek(s.chapter16)">{{s.week16CompleteRate | percentage:0}}</td>

				<td><button ng-click="hiringInfo(s)" data-target="#hiredModal" data-toggle="modal" class="btn btn-danger btn-xs">HIRED!</button></td>

				<td><button ng-click="editStudentInfo(s)" data-target="#editInfoModal" data-toggle="modal" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></td>

			</tr>
		</tbody>
	</table>

	<div class="btn-toolbar">
		<button ng-click="exit()" class="button is-ruby">Exit</button>
	</div>
	
<!-- INDIVIDUAL STUDENT CONTACT MODAL -->

<div id="myModal" class="modal fade" role="dialog">
  <ng-include src="'views/modals/studentcontact.html'"></ng-include>
</div>

<!-- MASS CONTACT EMAIL OR SMS -->

<div id="contactModal" class="modal fade" role="dialog">
  <ng-include src="'views/modals/classcontact.html'"></ng-include>
</div>

<!-- WEEK INFO MODAL -->

<div id="weekModal" class="modal fade" role="dialog">
	<ng-include src="'views/modals/weekinfo.html'"></ng-include>
</div>

<!-- STUDENT HIRED INFO MODAL -->

<div id="hiredModal" class="modal fade" role="dialog">
	<ng-include src="'views/modals/hired.html'"></ng-include>
</div>

<!-- EDIT STUDENT INFO MODAL -->

<div id="editInfoModal" class="modal fade" role="dialog">
	<ng-include src="'views/modals/editinfo.html'"></ng-include>
</div>

<!-- MANAGE MENTORS MODAL -->

<div id="mentorModal" class="modal fade" role="dialog">
	<ng-include src="'views/modals/mentor.html'"></ng-include>
</div>

<!-- GRADUATE MODAL -->

<div id="graduateModal" class="modal fade" role="dialog">
	<ng-include src="'views/modals/graduate.html'"></ng-include>
</div>

<!-- ADD BREAK MODAL -->

<div id="addBreakModal" class="modal fade" role="dialog">
	<ng-include src="'views/modals/addbreak.html'"></ng-include>
</div>

</section>

<!-- 	IF USER IS NOT AUTHORIZED -->

<div ng-if="!isAdmin">
	<ng-include src="'views/shared/unauthorized.html'"></ng-include>
</div>