<style type="">
	input{
		width: 50% !important;
	}
</style>

<section ng-controller="AdminCtrl">
	<div class="text-left">
		<h1>Admin Page</h1>
	</div>
	
	<!-- <pre>
		{{studentArray | json}}
	</pre> -->

	<label>Filter By Mentor</label>
	<select ng-model="search.mentor" ng-options="mentor for mentor in mentors">
		<option value="">All</option>
  	</select>

	<table class="table table-striped table-sm">
		<thead>
			<th>Student Name</th>
			<th>Mentor</th>
			<th>Week 1</th>
			<th>Week 2</th>
			<th>Week 3</th>
			<th>Week 4</th>
			<th>Week 5</th>
			<th>Week 7</th>
			<th>Week 8</th>
			<th>Week 9</th>
			<th>Week 10</th>
			<th>Week 11</th>
			<th>Week 12</th>
			<th>Week 13</th>
			<th>Week 14</th>
			<th>Week 15</th>
			<th>Week 16</th>
		</thead>
		<tbody>
			<tr ng-repeat="s in studentArray | filter: search.mentor.trim()">
				<td  data-target="#myModal" data-toggle="modal"><a ng-click="getStudentInfo(s)" href="">{{s.name | uppercase}}</a></td>
				<td>{{s.mentor}}</td>
				<td>{{s.week1CompleteRate | percentage:0}}</td>
				<td>{{s.week2CompleteRate | percentage:0}}</td>
				<td>{{s.week3CompleteRate | percentage:0}}</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>

	<div class="btn-toolbar">
		<button ng-click="exit()" class="btn btn-danger">Exit</button>
	</div>
	
<!-- MODAL -->

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Contact Student</h4>
      </div>
      <div class="modal-body">
        <p>Text Body</p>
      </div>
      <textarea ng-model="message" class="form-control">
      	
      </textarea>
      <div class="modal-footer">
      	<div class="btn-toolbar">
      		<!-- Text button -->
      		<button ng-disabled="disableButton"class="btn btn-success" ng-click="sendText(message)"><span ng-show="disableButton">Sending</span><span ng-hide="disableButton">Send Text</span></button>
      		<!-- Email button -->
      		<button class="btn btn-success" ng-click="sendMail(message)"><span ng-hide="sendingEmail">Send Email</span><span ng-show="sendingEmail">Sending Email</span></button>
      		<!-- Close -->
      		<button class="btn btn-primary" type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

      	</div>
      	
      </div>
    </div>

  </div>
</div>

</section>