<section ng-control="CreateUserCtrl">
<form>
<h2>Create Account</h2>
  <div class="form-group">
    <label for="email">Email address:</label>
    <input ng-model="userEmail" type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input ng-model="userPassword" type="password" class="form-control" id="pwd">
  </div>
  <div class="text-center">
  <br><br>
  <button ng-disabled="!userPassword || !userEmail"ng-click="createUser()" class="btn btn-primary">Create Account</button>
  </div>
</form>
</section>