<section ng-control="CreateUserCtrl">
<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4">
<form>
<h2>Create Account</h2>

  <div class="form-group">
    <label>Start Date:</label>
    <input ng-model="startDate" type="text" id="datePicker">
  </div>

  <div class="form-group">
    <label for="userName">Full Name:</label>
    <input ng-model="userName" placeholder="Example: Bob Barker" type="username" class="form-control create-user" id="name">
  </div>

  <div class="form-group">
    <label for="userName">Phone #:</label>
    <input ng-model="phone" placeholder="Example: 5105559999" type="tel" class="form-control create-user" id="name" maxlength="10" pattern="\d{10}" required="required">
  </div>

  <div class="form-group">
    <label for="email">Email address:</label>
    <input ng-model="userEmail" type="email" class="form-control create-user" id="email">
  </div>
  
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input ng-model="userPassword" type="password" class="form-control" id="pwd">
  </div>

  <label>Select An Instructor: </label>
  <select ng-model="selectedInstructor" ng-options="mentor for mentor in mentors">
  </select>

  <div class="text-center">
    <br><br>
    <button ng-hide="!userPassword || !userEmail || !selectedInstructor || !userName || !phone ||creatingUser" ng-click="createUser()" class="button is-blue-jeans"><span ng-show="creatingUser">Processing</span><span ng-show="!creatingUser">Create Account</span></button>
    <button class="button is-grapefruit">
      <a style="color: white" href="/#/login"> Return to Sign In</a>
    </button>
    
  </div>
  <br>
  <p class="text-center text-muted">{{errorMessage}}</p>
</form>
</div>
</div>
  
</section>