<div class="container-fluid" ng-control="HomeCtrl">
<header>
		<nav>
			<h1>Weekly Projects <span><img class="icon icons8-Icons8-Logo" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAACTklEQVRoQ+1ZvUvDQBR/pw06OAiCTgoi6GoRrpufIDoIgnRSUP+CtmMnHRTd1MlRnRUtOFgni6DQK9KuCuI/oKCCUmjxycUqacjHxbu2iJfxLu+939eFkBD44xf54/hBE7A7mM/n28vlcgwRRwFgsLJfIIRkQqHQTjgcflbpulIHGGNLALAFAO0uIDn4BKV0XxUJZQQq4PcEgS2rIqGEAI9NqVR68FDezuvZMIxeHqdsNrtICIlb44aI25FI5EBEjEAEGGMxAOAx4dnmcSggIo9DLyFkRWSg5Z5tALCeE3t5wTCMMb8zI0SgovCFRaWAWH99e4FSGvaqFiLAGMs3APw3bs/z4ksgl8vFEZE/WRp1ebrgS6DB6puiUUpdcbpu4NkMNkpyp7lk+tQRqyZQL5e0A/VS2m2OdkA7IKmAjpBdwJu7Ipxcv8F7EWF+vA2G+lurbpHdt89T7kBi9xGeXj/MOT1dzbC21FE1U3a/rgS6O5thfdmdwG/2a06AR+T46itCCxPOEZLZrzkByYdK4HLlZyAwAskCTUBSQOly7YC0hJINtAOSAkqX/z8HnCQbHugzv1Rc3t5XfQxwW/eSXVUv3+9CVhCqhvKeqnoFIpCMTpkObBymq+rc1r0cUNVLE+AqawcsWQsqxv+JUHJuchaamk4Q8GXz8PznJ57buucBVthLyIFkdCoDACMmKISDjaM0/83Es++47vP0UdaLzxEmgICDBEmqpVyMr6Yy5r9eTsBp3Y+Aql7CBKRfZGrYQMiBGs6Xbq0JSEso2eATx4PSQJvDc+MAAAAASUVORK5CYII=" width="48" height="48"></span></h1>

		</nav>

</header>

<!-- TEST PARTIAL INCLUDE -->
<!-- <span ng-include src="'views/partials/test.html'"></span>
 -->

	<div class="row">

		<div class="col-md-3" style="margin-top: 3%">
			<span  ng-hide="isAdmin==false"><a href="/#/admin">Admin Page</a></span>		
		</div>
		
	</div>
	
	<div class="row text-center">
		<div class="col-md-3">
			<h3>Chapter 1</h3>
			<a href="/#/chapter1"><img width="100%" src="http://cdn.wallpapersafari.com/14/21/nvuair.jpg"></a>
		</div>
		<div class="col-md-3" ng-hide="ch1 < 1">
			<h3>Chapter 2</h3>
			<a href="/#/chapter2.1"><img width="100%" src="http://cdn.wallpapersafari.com/14/21/nvuair.jpg"></a>
		</div>
		<div class="col-md-3" ng-hide="ch2 < 1">
			<h3>Chapter 3</h3>
			<a href="/#/chapter3.1"><img width="100%" src="http://cdn.wallpapersafari.com/14/21/nvuair.jpg"></a>
		</div>
		<div class="col-md-3" ng-hide="ch3 < 1">
			<h3>Chapter 4</h3>
			<a href="/#/chapter4.1"><img width="100%" src="http://cdn.wallpapersafari.com/14/21/nvuair.jpg"></a>
		</div>
		
	</div>

	<div class="row text-center">
		<div class="col-md-3" ng-hide="ch4 < 1">
			<h3>Chapter 5</h3>
			<a href="/#/chapter5.1"><img width="100%" src="http://cdn.wallpapersafari.com/14/21/nvuair.jpg"></a>
		</div>
		<div class="col-md-3" ng-hide="ch5 < 1">
			<h3>Chapter 6</h3>
			<a href="/#/chapter6.1"><img width="100%" src="http://cdn.wallpapersafari.com/14/21/nvuair.jpg"></a>
		</div>
		<div class="col-md-3" ng-hide="ch6 < 1">
			<h3>Chapter 7</h3>
			<a href="/#/chapter7.1"><img width="100%" src="http://cdn.wallpapersafari.com/14/21/nvuair.jpg"></a>
		</div>
		<div class="col-md-3" ng-hide="ch7 < 1">
			<h3>Chapter 8</h3>
			<a href="/#/chapter8.1"><img width="100%" src="http://cdn.wallpapersafari.com/14/21/nvuair.jpg"></a>
		</div>
		<div class="col-md-3" ng-hide="ch8 < 1">
			<h3>Chapter 9</h3>
			<a href="/#/chapter9.1"><img width="100%" src="http://cdn.wallpapersafari.com/14/21/nvuair.jpg"></a>
		</div>
		<div class="col-md-3" ng-hide="ch9 < 1">
			<h3>Chapter 10</h3>
			<a href="/#/chapter10.1"><img width="100%" src="http://cdn.wallpapersafari.com/14/21/nvuair.jpg"></a>
		</div>
		<div class="col-md-3" ng-hide="ch10 < 1">
			<h3>Chapter 11</h3>
			<a href="/#/chapter11.1"><img width="100%" src="http://cdn.wallpapersafari.com/14/21/nvuair.jpg"></a>
		</div>
		<div class="col-md-3" ng-hide="ch11 < 1">
			<h3>Chapter 12</h3>
			<a href="/#/chapter12.1"><img width="100%" src="http://cdn.wallpapersafari.com/14/21/nvuair.jpg"></a>
		</div>

		<div class="col-md-3" ng-hide="ch12 < 1">
			<h3>Chapter 13</h3>
			<a href="/#/chapter13.1"><img width="100%" src="http://cdn.wallpapersafari.com/14/21/nvuair.jpg"></a>
		</div>
		<div class="col-md-3" ng-hide="ch13 < 1">
			<h3>Chapter 14</h3>
			<a href="/#/chapter14.1"><img width="100%" src="http://cdn.wallpapersafari.com/14/21/nvuair.jpg"></a>
		</div>
		<div class="col-md-3" ng-hide="ch14 < 1">
			<h3>Chapter 15</h3>
			<a href="/#/chapter15.1"><img width="100%" src="http://cdn.wallpapersafari.com/14/21/nvuair.jpg"></a>
		</div>
		<div class="col-md-3" ng-hide="ch15 < 1">
			<h3>Chapter 16</h3>
			<a href="/#/chapter16.1"><img width="100%" src="http://cdn.wallpapersafari.com/14/21/nvuair.jpg"></a>
		</div>
	</div>
	<br>
	<button class="button is-ruby" ng-click="logOut()">LogOut</button>
</div>
