<style type="text/css">
            body, html
            {
                margin: 0; padding: 0; height: 100%; overflow: hidden;
            }

            #content
            {
                position:absolute; left: 0; right: 0; bottom: 0; top: 0px; 
            }
        </style>
<section id="content"ng-controller="VideoCtrl">
<!-- <h3 class="text-left">{{completeRate}}% Complete</h3>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow={{completeRate}} aria-valuemin="0" aria-valuemax="100" style="width:{{completeRate}}%">
  </div>
</div> -->

<youtube-video video-url="introVideo" player-width="'100%'" player-height="'100%'"></youtube-video>

<!-- <iframe id="ytplayer" width="100%" height="100%" frameborder="0" src="https://www.youtube.com/embed/XGSy3_Czz8k?autoplay=1&enablejsapi=1&version=3&playerapiid=ytplayer" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"> </iframe>  -->




</section>