
<section ng-controller="WeekTwoCtrl">

<ng-include src="'views/progressbar.html'"></ng-include>
<!-- <header>
		<nav>
			<h1>Welcome to Week 2 <span><img class="icon icons8-Icons8-Logo" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAACTklEQVRoQ+1ZvUvDQBR/pw06OAiCTgoi6GoRrpufIDoIgnRSUP+CtmMnHRTd1MlRnRUtOFgni6DQK9KuCuI/oKCCUmjxycUqacjHxbu2iJfxLu+939eFkBD44xf54/hBE7A7mM/n28vlcgwRRwFgsLJfIIRkQqHQTjgcflbpulIHGGNLALAFAO0uIDn4BKV0XxUJZQQq4PcEgS2rIqGEAI9NqVR68FDezuvZMIxeHqdsNrtICIlb44aI25FI5EBEjEAEGGMxAOAx4dnmcSggIo9DLyFkRWSg5Z5tALCeE3t5wTCMMb8zI0SgovCFRaWAWH99e4FSGvaqFiLAGMs3APw3bs/z4ksgl8vFEZE/WRp1ebrgS6DB6puiUUpdcbpu4NkMNkpyp7lk+tQRqyZQL5e0A/VS2m2OdkA7IKmAjpBdwJu7Ipxcv8F7EWF+vA2G+lurbpHdt89T7kBi9xGeXj/MOT1dzbC21FE1U3a/rgS6O5thfdmdwG/2a06AR+T46itCCxPOEZLZrzkByYdK4HLlZyAwAskCTUBSQOly7YC0hJINtAOSAkqX/z8HnCQbHugzv1Rc3t5XfQxwW/eSXVUv3+9CVhCqhvKeqnoFIpCMTpkObBymq+rc1r0cUNVLE+AqawcsWQsqxv+JUHJuchaamk4Q8GXz8PznJ57buucBVthLyIFkdCoDACMmKISDjaM0/83Es++47vP0UdaLzxEmgICDBEmqpVyMr6Yy5r9eTsBp3Y+Aql7CBKRfZGrYQMiBGs6Xbq0JSEso2eATx4PSQJvDc+MAAAAASUVORK5CYII=" width="48" height="48"></span></h1>

		</nav>

</header>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapse1"><span ng-show="!week2.sendGoogleCode">Day 1</span><span ng-show="week2.sendGoogleCode"><strikethrough>Day 1</strikethrough></span>
        <span class="pull-right glyphicon glyphicon-plus"></span>
        </a> 
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
      <p>Copy and paste this URL into your browser to see our example: codifyacademy.com/week2/beginner</p>

      <p>Remember, have fun!  Replication is a fast way to learn by doing.</p>

		  <p>When Finished: Email a compressed version of your replica to your mentor.</p>

		<div class="row text-center">
			<div class="checkbox">
	            <label style="font-size: 2.5em">
	                <input type="checkbox" ng-model="week2.visualArts" value="" checked>
	                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
	            </label>
        	</div>
		</div>	
      </div>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapse2">Day 2
        <span class="pull-right glyphicon glyphicon-plus"></span>
        </a> 
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
      	<p>Copy and paste this URL into your browser to see our example: codifyacademy.com/week2/intermediate</p>

		<p>Remember, have fun!  Replication is a fast way to learn by doing.</p>

		<p>When Finished: Email a compressed version of your myFolio website replica to your mentor.</p>

		<div class="row text-center">
			<div class="checkbox">
	            <label style="font-size: 2.5em">
	                <input type="checkbox" ng-model="week2.myFolio"value="" checked>
	                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
	            </label>
        	</div>
		</div>

      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapse3">Day 3
        <span class="pull-right glyphicon glyphicon-plus"></span>
        </a> 
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">
      	<p>Copy and paste this URL into your browser to see our example: codifyacademy.com/week2/metroApp</p>

    <p>Remember, have fun!  Replication is a fast way to learn by doing.</p>

    <p>When Finished: Email a compressed version of your Metro App website replica to your mentor.</p>

		<div class="row text-center">
			<div class="checkbox">
	            <label style="font-size: 2.5em">
	                <input type="checkbox" ng-model="week2.metroApp"value="" checked>
	                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
	            </label>
        	</div>
		</div>

      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapse4">Day 4
        <span class="pull-right glyphicon glyphicon-plus"></span>
        </a> 
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body">
      	<p>Copy and paste this URL into your browser to download the debugging exercise:</p> 

        <p><b>Correct Source code so it looks like the original</b></p>

        <p>Source Code: codifyacademy.com/week2/myfoliodebug.zip</p>

        <p>Live example: codifyacademy.com/week2/myfoliodebug/</p>

        <p>If you get stuck, check out your replication.</p>

        <p>When Finished: Email a compressed version of your corrected myfolio website to your mentor.</p>

		<div class="row text-center">
			<div class="checkbox">
	            <label style="font-size: 2.5em">
	                <input type="checkbox" ng-model="week2.debugMyFolio"value="" checked>
	                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
	            </label>
        	</div>
		</div>

    <p>Get ready for next week's class by coding along with the videos.</p>

<p>Codify Academy on Youtube: <a href="https://www.youtube.com/playlist?list=PLvyX_84L7-lvtfaQnfZrlb7TAU9TZKsMP">Week 3 Prep Youtube Review</a> </p>
    <div class="row text-center">
      <div class="checkbox">
              <label style="font-size: 2.5em">
                  <input type="checkbox" ng-model="week2.video"value="" checked>
                  <span class="cr"><i class="cr-icon fa fa-check"></i></span>
              </label>
          </div>
    </div>

      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapse5">Day 5
        <span class="pull-right glyphicon glyphicon-plus"></span>
        </a> 
      </h4>
    </div>
    <div id="collapse5" class="panel-collapse collapse">
      <div class="panel-body">
      	<p>Fill out your student guide quiz for this week</p>
      	

      	<div class="row text-center">
			<div class="checkbox">
	            <label style="font-size: 2.5em">
	                <input type="checkbox" ng-model="week2.quiz"value="" checked>
	                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
	            </label>
        	</div>
		</div>

      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapse6">Bonus
        <span class="pull-right glyphicon glyphicon-plus"></span>
        </a> 
      </h4>
    </div>
    <div id="collapse6" class="panel-collapse collapse">
      <div class="panel-body">

			<p>Github is a place to store to display your code. Companies really like to see that you use github, so the more projects you have on there, the better!</p>
<ul style="text-align: center;">
  <li>Watch this <a href="https://www.youtube.com/watch?v=29q5eE8QCDs">video</a> for instructions on how to use git and github.</li>
  <li><a href="http://git-scm.com/downloads">Link</a> to download git</li>
  <li><a href="http://github.com/">Link</a> to Github</li>
  <li><a href="http://help.github.com/articles/adding-an-existing-project-to-github-using-the-command-line/">Link</a> to Github instructions used in our video
Once you have completed these steps, start uploading your project from week 1 to Github.</li>
</ul>

<p>Make sure to post here everytime your working on a project, best to get practice!!!</p>

<p><b>Send your github link to your mentor</b></p>

<input ng-model="week2.githubLink"class="form-control" />

	<div class="row text-center">
			<div class="checkbox">
	            <label style="font-size: 2.5em">
	                <input type="checkbox" ng-model="week2.bonusGitHub"value="" checked>
	                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
	            </label>
        	</div>
		</div>

      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapse7">Bonus
        <span class="pull-right glyphicon glyphicon-plus"></span>
        </a> 
      </h4>
    </div>
    <div id="collapse7" class="panel-collapse collapse">
      <div class="panel-body">
      	<p>Copy and paste this URL into your browser: <a href="http://learn.shayhowe.com/html-css/">http://learn.shayhowe.com/html-css/</a>

<p>As you read:</p>
<ul style="text-align: center;">
  <li>Review HTML5 terminology ( element / tag / attribute-(||class||id||)  )</li>
  <li>Review terminology ( selector / property / value )</li>
  <li>Review how the Box modal works ( content / padding / border / margin )</li>
  <li>Learn CSS position properties - ( float / clear / display-(||fixed||absolute||relative||) )</li>
  <li>Learn how to work with fonts</li>
  <li>Learn how to change backgrounds & add gradients using CSS3</li>
  <li>Learn how to create forms / lists / tables & add media into HTML</li>
</ul>


<p>If something isn't making sense, be sure to utilize w3schools.com, sometimes all it takes is a live example to help you understand, or google it!</p>
		<div class="row text-center">
			<div class="checkbox">
	            <label style="font-size: 2.5em">
	                <input type="checkbox" ng-model="week2.bonusReading"value="" checked>
	                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
	            </label>
        	</div>
		</div>
      </div>
    </div>
  </div>

</div> -->
<button ng-click="exit()" class="button is-ruby">Exit</button>


</section>
