
<section ng-controller="Week10Ctrl">
<header>
		<nav>
			<h1>Welcome to Week 10 <span><img class="icon icons8-Icons8-Logo" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAACTklEQVRoQ+1ZvUvDQBR/pw06OAiCTgoi6GoRrpufIDoIgnRSUP+CtmMnHRTd1MlRnRUtOFgni6DQK9KuCuI/oKCCUmjxycUqacjHxbu2iJfxLu+939eFkBD44xf54/hBE7A7mM/n28vlcgwRRwFgsLJfIIRkQqHQTjgcflbpulIHGGNLALAFAO0uIDn4BKV0XxUJZQQq4PcEgS2rIqGEAI9NqVR68FDezuvZMIxeHqdsNrtICIlb44aI25FI5EBEjEAEGGMxAOAx4dnmcSggIo9DLyFkRWSg5Z5tALCeE3t5wTCMMb8zI0SgovCFRaWAWH99e4FSGvaqFiLAGMs3APw3bs/z4ksgl8vFEZE/WRp1ebrgS6DB6puiUUpdcbpu4NkMNkpyp7lk+tQRqyZQL5e0A/VS2m2OdkA7IKmAjpBdwJu7Ipxcv8F7EWF+vA2G+lurbpHdt89T7kBi9xGeXj/MOT1dzbC21FE1U3a/rgS6O5thfdmdwG/2a06AR+T46itCCxPOEZLZrzkByYdK4HLlZyAwAskCTUBSQOly7YC0hJINtAOSAkqX/z8HnCQbHugzv1Rc3t5XfQxwW/eSXVUv3+9CVhCqhvKeqnoFIpCMTpkObBymq+rc1r0cUNVLE+AqawcsWQsqxv+JUHJuchaamk4Q8GXz8PznJ57buucBVthLyIFkdCoDACMmKISDjaM0/83Es++47vP0UdaLzxEmgICDBEmqpVyMr6Yy5r9eTsBp3Y+Aql7CBKRfZGrYQMiBGs6Xbq0JSEso2eATx4PSQJvDc+MAAAAASUVORK5CYII=" width="48" height="48"></span></h1>

		</nav>

</header>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapse1">Day 1
        <span class="pull-right glyphicon glyphicon-plus"></span>
        </a> 
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      <input type="checkbox" value="1" class="flatOneCheckbox"/>


      </div>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapse2">Day 2
        <span class="pull-right glyphicon glyphicon-plus"></span>
        </a> 
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapse3">Day 3
        <span class="pull-right glyphicon glyphicon-plus"></span>
        </a> 
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapse4">Day 4
        <span class="pull-right glyphicon glyphicon-plus"></span>
        </a> 
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapse5">Day 5
        <span class="pull-right glyphicon glyphicon-plus"></span>
        </a> 
      </h4>
    </div>
    <div id="collapse5" class="panel-collapse collapse">
      <div class="panel-body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapse6">Day 6
        <span class="pull-right glyphicon glyphicon-plus"></span>
        </a> 
      </h4>
    </div>
    <div id="collapse6" class="panel-collapse collapse">
      <div class="panel-body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapse7">Day 7
        <span class="pull-right glyphicon glyphicon-plus"></span>
        </a> 
      </h4>
    </div>
    <div id="collapse7" class="panel-collapse collapse">
      <div class="panel-body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      </div>
    </div>
  </div>

</div>
<button ng-click="exit()" class="button is-ruby">Exit</button>
</section>

