
<section ng-controller="WeekTwoCtrl">
<div class="container">

	<div class="jumbotron">
		<h1 class="text-center">< Week 3 /></h1>
	</div>
	
	
	<!-- <pre>
		{{week1 | json}}
	</pre> -->

	<section>
  	<tabset>
  		
	    <tab heading="Projects">
	    <div class="container">
	    	<div class="row task-row">
	    		<div data-role="page" class="input-group">
				  <span class="input-group-addon fa fa-3x fa-tasks"></span>
				  <div class="task-box text-center">
				  	<p><li>Replicate 37 Signals Homepage</li></p>
				  </div>
				  <span class="input-group-addon"><button type="button"class="btn btn-success btn-xs help"><span class="glyphicon glyphicon-plus"></span></button></span>

				</div>
				<div class="expand-task">
					<div class="input-group tasks">
					<span class="input-group-addon fa fa-3x fa-tasks"></span>
						<div class="text-center assignment">
							<p>Copy and paste this URL into your browser to see our example: http://codifyacademy.com/salespage/
							<br/>
							Remember to use your developer tools to look at the HTML & CSS to see what you're missing.
							<br/>
							And reference http://www.w3schools.com/ when trying to understand what a line of HTML or CSS does.
							<br/>
							Make Sure Your Code Validatates With the following:
							<br/>
							http://validator.w3.org/#validate_by_input - HTML
							<br/>
							https://jigsaw.w3.org/css-validator/#validate_by_input - CSS</p>
						</div>
						<span class="input-group-addon"><!-- <input ng-model="week3.visitGoogle" type="checkbox"/> --></span>
					</div>
					<div class="input-group tasks">
						<span class="input-group-addon fa fa-3x fa-tasks"></span>
						<div class="text-center assignment">
							<p>Send compressed folder of your replica to your mentor for review</p>
						</div>
						<span class="input-group-addon"><input ng-model="week3.sendGoogleCode" type="checkbox"/></span>
					</div>


					<!-- <button class="btn btn-danger btn-xs closeme">Close</button> -->
				</div>
	    	</div>

	    	<div class="row task-row">
	    		<div data-role="page" class="input-group">
				  <span class="input-group-addon fa fa-3x fa-tasks"></span>
				  <div class="task-box text-center">
				  	<p><li>Replicate Visual Arts</li></p>
				  </div>
				  <span class="input-group-addon"><button type="button"class="btn btn-success btn-xs help"><span class="glyphicon glyphicon-plus"></span></button></span>

				  
				</div>
				<div class="expand-task">
					<div class="input-group tasks">
						<span class="input-group-addon fa fa-3x fa-tasks"></span>
						<div class="text-center assignment">
							<p>Copy and paste this URL into your browser to see our example: codifyacademy.com/week2/beginner
							<br/>
							Remember, have fun!  Replication is a fast way to learn by doing.</p>
						</div>
						<span class="input-group-addon"><!-- <input ng-model="week1.visitSimpleReplica" type="checkbox"/> --></span>
					</div>

					<div class="input-group tasks">
						<span class="input-group-addon fa fa-3x fa-tasks"></span>
						<div class="text-center assignment">
							<p>Replicate simple sales page using HTML & CSS</p>
						</div>
						<span class="input-group-addon"><!-- <input ng-model="week1.visitSimpleReplica" type="checkbox"/> --></span>
					</div>

					<div class="input-group tasks">
						<span class="input-group-addon fa fa-3x fa-tasks"></span>
						<div class="text-center assignment">
							<p>Validate code using HTML5 & CSS3 Validators</p>
						</div>
						<span class="input-group-addon"><!-- <input ng-model="week1.visitSimpleReplica" type="checkbox"/> --></span>
					</div>

					<div class="input-group tasks">
						<span class="input-group-addon fa fa-3x fa-tasks"></span>
						<div class="text-center assignment">
							<p>Send compressed folder of your replica to your mentor for review</p>
						</div>
						<span class="input-group-addon"><input ng-model="week3.simpleReplica" type="checkbox"/></span>
					</div>
				

					<!-- <button class="btn btn-danger btn-xs closeme">Close</button> -->
				</div>
	    	</div>

	    	<div class="row task-row">
	    		<div data-role="page" class="input-group">
				  <span class="input-group-addon fa fa-3x fa-tasks"></span>
				  <div class="task-box text-center">
				  	<p><li>Debugging Pico Website</li></p>
				  </div>
				  <span class="input-group-addon"><button type="button"class="btn btn-success btn-xs help"><span class="glyphicon glyphicon-plus"></span></button></span>

				  
				</div>
				<div class="expand-task">
					<div class="input-group tasks">
						<span class="input-group-addon fa fa-3x fa-tasks"></span>
						<div class="text-center assignment">
							<p>Copy and paste this URL into your browser to download the debugging exercise: Source Code: codifyacademy.com/week1/picodebugsource.zip</p>
						</div>
						<span class="input-group-addon"><!-- <input type="checkbox" ng-model="week1.visitPicoSite"/> --></span>
					</div>
					<div class="input-group tasks">
						<span class="input-group-addon fa fa-3x fa-tasks"></span>
						<div class="text-center assignment">
							<p>Look through the code in your text editor to find and correct 14 errors, there are 7 on each file, index.html and main.css</p>
							<p>If you get stuck: check out your replication: codifyacademy.com/week1/intermediate/</p>
						</div>
						<span class="input-group-addon"><!-- <input ng-model="week1.visitDebugPico" type="checkbox" /> --></span>
					</div>
					<div class="input-group tasks">
						<span class="input-group-addon fa fa-3x fa-tasks"></span>
						<div class="text-center assignment">
							<p>When Finished: Email a compressed version of your corrected pico website to your mentor.</p>
						</div>
						<span class="input-group-addon"><input ng-model="week3.debugPico" type="checkbox" /></span>
					</div>
				

					<!-- <button class="btn btn-danger btn-xs closeme">Close</button> -->
				</div>
	    	</div>

	    	

    	</div>
	    </tab>
	    
	    <!-- READING -->
	    <tab heading="Read">

	    	<div class="container text-center">
	    		<h3 style="text-decoration: underline">Read Berekeley's Tutorial:</h3>
	    		<p>'Tutorial: HTML 101' <a href="http://multimedia.journalism.berkeley.edu/tutorials/html/">Read Here</a></p>
	    		<p>As You Read keep these in mind:</p>
	    		<ul>
	    			<li>Don’t worry about all their Advanced Text Editors, we have our own.</li>
	    			<li>Learn how to construct a basic webpage.</li>
	    			<li>Learn the basic elements that are used 80% of the time.</li>
	    			<li>Learn about important HTML attributes.</li>
	    			<li>Learn how to view your own work in a browser.</li>
	    			<li>Learn how to incorporate and use these elements in any project.</li>
	    		</ul>
	    		<label>Check here when finished  </label><input type="checkbox" ng-model="week3.reading"/>

	    		
	    	</div>
	    </tab>

	    <!-- VIDEOS -->

	    <tab heading="Watch">
		    <div class="videoFrame text-center">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/Nk-FndrwOxQ?list=PLvyX_84L7-lvtfaQnfZrlb7TAU9TZKsMP?autoplay=0" frameborder="0" allowfullscreen></iframe>
		    </div>
	    </tab>

	    <!-- QUIZZES -->

	    <tab heading="Quiz Me!">
	    	<div class="container">
	    	<div class="row task-row">
	    		<div data-role="page" class="input-group">
				  <span class="input-group-addon fa fa-3x fa-tasks"></span>
				  <div class="task-box text-center">
				  	<p><li> Quiz: Student Guide to the Galaxy Quiz (30 mins)</li></p>
				  </div>
				  <span class="input-group-addon"><button type="button"class="btn btn-success btn-xs help"><span class="glyphicon glyphicon-plus"></span></button></span>

				  
				</div>
				<div class="expand-task">
					<div class="input-group tasks">
					<span class="input-group-addon fa fa-3x fa-tasks"></span>
						<div class="text-center assignment">
							<p>Fill out your student guide quiz for this week</p>
						</div>
						<span class="input-group-addon"><input type="checkbox" ng-model="week3.quiz"/></span>
					</div>
		
					<!-- <button class="btn btn-danger btn-xs closeme">Close</button> -->
				</div>
	    	</div>
	    	</div>
	    </tab>
	    <tab heading="WorkDrop">Stuff</tab>
  	</tabset>
</section>
<div class="btn-toolbar">
		<button ng-click="exit()" class="btn btn-primary exitBtn">
		Exit
		</button>
		<button class="btn btn-success" ng-click="submitWeek()">Submit</button>
	</div>

</section>

