
<section ng-controller="Week4Ctrl">
<header>
		<nav>
			<h1>Welcome to Week 4 <span><img class="icon icons8-Icons8-Logo" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAACTklEQVRoQ+1ZvUvDQBR/pw06OAiCTgoi6GoRrpufIDoIgnRSUP+CtmMnHRTd1MlRnRUtOFgni6DQK9KuCuI/oKCCUmjxycUqacjHxbu2iJfxLu+939eFkBD44xf54/hBE7A7mM/n28vlcgwRRwFgsLJfIIRkQqHQTjgcflbpulIHGGNLALAFAO0uIDn4BKV0XxUJZQQq4PcEgS2rIqGEAI9NqVR68FDezuvZMIxeHqdsNrtICIlb44aI25FI5EBEjEAEGGMxAOAx4dnmcSggIo9DLyFkRWSg5Z5tALCeE3t5wTCMMb8zI0SgovCFRaWAWH99e4FSGvaqFiLAGMs3APw3bs/z4ksgl8vFEZE/WRp1ebrgS6DB6puiUUpdcbpu4NkMNkpyp7lk+tQRqyZQL5e0A/VS2m2OdkA7IKmAjpBdwJu7Ipxcv8F7EWF+vA2G+lurbpHdt89T7kBi9xGeXj/MOT1dzbC21FE1U3a/rgS6O5thfdmdwG/2a06AR+T46itCCxPOEZLZrzkByYdK4HLlZyAwAskCTUBSQOly7YC0hJINtAOSAkqX/z8HnCQbHugzv1Rc3t5XfQxwW/eSXVUv3+9CVhCqhvKeqnoFIpCMTpkObBymq+rc1r0cUNVLE+AqawcsWQsqxv+JUHJuchaamk4Q8GXz8PznJ57buucBVthLyIFkdCoDACMmKISDjaM0/83Es++47vP0UdaLzxEmgICDBEmqpVyMr6Yy5r9eTsBp3Y+Aql7CBKRfZGrYQMiBGs6Xbq0JSEso2eATx4PSQJvDc+MAAAAASUVORK5CYII=" width="48" height="48"></span></h1>

		</nav>

</header>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapse1"><span>Day 1 & 2</span>
        <span class="pull-right glyphicon glyphicon-plus"></span>
        </a> 
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
      <p>Using Google and at least one other project from week 1, add media queries to make them responsive, make sure you scale your screen size down from left to right, and fix any elements that break (don't look good).</p>

      <p>If you get stuck on Google, check out our version Responsive Google, for the others it's up to you to decide how to make it look good!</p>

      <p>Remember this is just practice, don't worry about making it "perfect"</p>

      <p>Post the link to your responsive Google project below.</p>


		<div class="row text-center">
    <input class="form-control" ng-model="week4.gitHubGoogleResponsive" />

			<div class="checkbox">
	            <label style="font-size: 2.5em">
	                <input type="checkbox" ng-model="week4.sendResponsiveGoogleCode" value="" checked>
	                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
	            </label>
        	</div>
		</div>	
      </div>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapse2">Day 3 & 4
        <span class="pull-right glyphicon glyphicon-plus"></span>
        </a> 
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
      	<p>Using Orange Juice and at least one other project from week 1, add media queries to make them responsive, make sure you scale your screen size down from left to right, and fix any elements that break (don't look good).</p>

      <p>If you get stuck on Google, check out our version Responsive Google, for the others it's up to you to decide how to make it look good!</p>

      <p>Remember this is just practice, don't worry about making it "perfect"</p>

      <p>Post the link to your responsive Orange Juice project below.</p>

      

		<div class="row text-center">
    <input class="form-control" ng-model="week4.gitHubOrangeResponsive" />
			<div class="checkbox">
	            <label style="font-size: 2.5em">
	                <input type="checkbox" ng-model="week4.sendResponsiveOrange"value="" checked>
	                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
	            </label>
        	</div>
		</div>

      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapse3">Day 5
        <span class="pull-right glyphicon glyphicon-plus"></span>
        </a> 
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">
      	<p>Fill out your student guide quiz for this week</p>

		<div class="row text-center">
			<div class="checkbox">
	            <label style="font-size: 2.5em">
	                <input type="checkbox" ng-model="week4.quiz"value="" checked>
	                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
	            </label>
        	</div>
		</div>
      	<p>Get ready for next week's class by coding along with the videos.</p>

        <p>Codify Academy on Youtube: <a href="https://www.youtube.com/watch?v=A0h4e4-Etn8&index=1&list=PLvyX_84L7-lsRYHARtZQyaDMwFo0CeYAs">Week 5 Prep Youtube Review</a></p>

		<div class="row text-center">
			<div class="checkbox">
	            <label style="font-size: 2.5em">
	                <input type="checkbox" ng-model="week4.videos"value="" checked>
	                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
	            </label>
        	</div>
		</div>

      </div>
    </div>
  </div>


</div>
<button ng-click="exit()" class="button is-ruby">Exit</button>
</section>

