
<section ng-controller="Week5Ctrl">
<header>
		<nav>
			<h1>Welcome to Week 5 <span><img class="icon icons8-Icons8-Logo" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAACTklEQVRoQ+1ZvUvDQBR/pw06OAiCTgoi6GoRrpufIDoIgnRSUP+CtmMnHRTd1MlRnRUtOFgni6DQK9KuCuI/oKCCUmjxycUqacjHxbu2iJfxLu+939eFkBD44xf54/hBE7A7mM/n28vlcgwRRwFgsLJfIIRkQqHQTjgcflbpulIHGGNLALAFAO0uIDn4BKV0XxUJZQQq4PcEgS2rIqGEAI9NqVR68FDezuvZMIxeHqdsNrtICIlb44aI25FI5EBEjEAEGGMxAOAx4dnmcSggIo9DLyFkRWSg5Z5tALCeE3t5wTCMMb8zI0SgovCFRaWAWH99e4FSGvaqFiLAGMs3APw3bs/z4ksgl8vFEZE/WRp1ebrgS6DB6puiUUpdcbpu4NkMNkpyp7lk+tQRqyZQL5e0A/VS2m2OdkA7IKmAjpBdwJu7Ipxcv8F7EWF+vA2G+lurbpHdt89T7kBi9xGeXj/MOT1dzbC21FE1U3a/rgS6O5thfdmdwG/2a06AR+T46itCCxPOEZLZrzkByYdK4HLlZyAwAskCTUBSQOly7YC0hJINtAOSAkqX/z8HnCQbHugzv1Rc3t5XfQxwW/eSXVUv3+9CVhCqhvKeqnoFIpCMTpkObBymq+rc1r0cUNVLE+AqawcsWQsqxv+JUHJuchaamk4Q8GXz8PznJ57buucBVthLyIFkdCoDACMmKISDjaM0/83Es++47vP0UdaLzxEmgICDBEmqpVyMr6Yy5r9eTsBp3Y+Aql7CBKRfZGrYQMiBGs6Xbq0JSEso2eATx4PSQJvDc+MAAAAASUVORK5CYII=" width="48" height="48"></span></h1>

		</nav>

</header>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapse1"><span>Day 1 & 2</span>
        <span class="pull-right glyphicon glyphicon-plus"></span>
        </a> 
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
      <p>Edit a bootstrap theme for a friend or business (real or imaginary), to see how bootstrap classes work together with HTML & CSS and edit existing code.</p>

      <p>As always we need to know what we want to create, so put it on paper with as many HTML tags and CSS properties, you can think of to use on the elements, in the end if you cant figure it out google it, look at the themes code or contact your mentor</p>

      <p>Always paper prototype first, then code</p>

      <p>Post your githublink below!</p>

		<div class="row text-center">
    <input class="form-control" ng-model="week5.gitHubBootstrapLink" />
			<div class="checkbox">
	            <label style="font-size: 2.5em">
	                <input type="checkbox" ng-model="week5.sendBootstrap" value="" checked>
	                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
	            </label>
        	</div>
		</div>	
      </div>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapse2">Day 3
        <span class="pull-right glyphicon glyphicon-plus"></span>
        </a> 
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
      	<p>Mission: Complete the Codecademy jQuery walkthrough</p>

        <p>Goal: Begin to Understand and use jQuery in any project</p>

        <p><a href="http://www.codecademy.com/en/tracks/jquery">"Codecademy jQuery" - </a> this is a great starting point when being introduced to jQuery</p>

<p>This is a JavaScript Library that has alot of functions built into it - which allow you to add alot of functionality easily</p>

		<div class="row text-center">
			<div class="checkbox">
	            <label style="font-size: 2.5em">
	                <input type="checkbox" ng-model="week5.codecademyJquery"value="" checked>
	                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
	            </label>
        	</div>
		</div>

      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapse3">Day 4
        <span class="pull-right glyphicon glyphicon-plus"></span>
        </a> 
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">
      	<p>Fill out your student guide quiz for this week</p>

		<div class="row text-center">
			<div class="checkbox">
	            <label style="font-size: 2.5em">
	                <input type="checkbox" ng-model="week5.quiz"value="" checked>
	                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
	            </label>
        	</div>
		</div>

      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapse4">Day 5
        <span class="pull-right glyphicon glyphicon-plus"></span>
        </a> 
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body">
      	<p>Get ready for next week's class by coding along with the videos.</p>

        <p>Codify Academy on Youtube: <a href="https://www.youtube.com/watch?v=H3Q15Mny8gY&list=PLvyX_84L7-lt1YCDXaZqRyggxHgh0UgAt">Week 6 Prep Youtube Review</a></p>

		<div class="row text-center">
			<div class="checkbox">
	            <label style="font-size: 2.5em">
	                <input type="checkbox" ng-model="week5.videos"value="" checked>
	                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
	            </label>
        	</div>
		</div>

      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapse5">Bonus
        <span class="pull-right glyphicon glyphicon-plus"></span>
        </a> 
      </h4>
    </div>
    <div id="collapse5" class="panel-collapse collapse">
      <div class="panel-body">
      	<p>Mission: Replicate any bootstrap examples found at: http://getbootstrap.com/getting-started/#examples</p>

        <p>Goal: Increase experience creating bootstrap elements</p>

        <p>Use your new found Bootstrap knowledge & the Bootstrap Documentation to help you complete this Bonus Task</p>

        <p>Post your githublink below!</p>
      	

      	<div class="row text-center">
        <input ng-model="week5.gitHubBonusBootstrap" class="form-control" />
			<div class="checkbox">
	            <label style="font-size: 2.5em">
	                <input type="checkbox" ng-model="week5.sendBonusBootstrap"value="" checked>
	                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
	            </label>
        	</div>
		</div>


      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapse6">Bonus
        <span class="pull-right glyphicon glyphicon-plus"></span>
        </a> 
      </h4>
    </div>
    <div id="collapse6" class="panel-collapse collapse">
      <div class="panel-body">
	      <p>Goal: Learn more advanced jQuery techniques using video/transcript from Aquent</p>

        <p><a href="http://gymnasium.aquent.com/courses/GYM/102/0/about">Aquent Gymnasium </a>Aquent Gymnasium - jQuery building blocks to complete the jQuery course work</p>

        <p>Just so you know, this has some of the best info on learning advanced jQuery that we've found on the web. Check out the videos and transcripts on the videos, both a great way to learn more. He talks a little slow, so transcripts might be your best bet if you're in a hurry.</p>

	<div class="row text-center">
			<div class="checkbox">
	            <label style="font-size: 2.5em">
	                <input type="checkbox" ng-model="week5.bonusJquery"value="" checked>
	                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
	            </label>
        	</div>
		</div>

      </div>
    </div>
  </div>



</div>
<button ng-click="exit()" class="button is-ruby">Exit</button>
</section>

