
<section ng-controller="Week3Ctrl">
<header>
		<nav>
			<h1>Welcome to Week 3 <span><img class="icon icons8-Icons8-Logo" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAACTklEQVRoQ+1ZvUvDQBR/pw06OAiCTgoi6GoRrpufIDoIgnRSUP+CtmMnHRTd1MlRnRUtOFgni6DQK9KuCuI/oKCCUmjxycUqacjHxbu2iJfxLu+939eFkBD44xf54/hBE7A7mM/n28vlcgwRRwFgsLJfIIRkQqHQTjgcflbpulIHGGNLALAFAO0uIDn4BKV0XxUJZQQq4PcEgS2rIqGEAI9NqVR68FDezuvZMIxeHqdsNrtICIlb44aI25FI5EBEjEAEGGMxAOAx4dnmcSggIo9DLyFkRWSg5Z5tALCeE3t5wTCMMb8zI0SgovCFRaWAWH99e4FSGvaqFiLAGMs3APw3bs/z4ksgl8vFEZE/WRp1ebrgS6DB6puiUUpdcbpu4NkMNkpyp7lk+tQRqyZQL5e0A/VS2m2OdkA7IKmAjpBdwJu7Ipxcv8F7EWF+vA2G+lurbpHdt89T7kBi9xGeXj/MOT1dzbC21FE1U3a/rgS6O5thfdmdwG/2a06AR+T46itCCxPOEZLZrzkByYdK4HLlZyAwAskCTUBSQOly7YC0hJINtAOSAkqX/z8HnCQbHugzv1Rc3t5XfQxwW/eSXVUv3+9CVhCqhvKeqnoFIpCMTpkObBymq+rc1r0cUNVLE+AqawcsWQsqxv+JUHJuchaamk4Q8GXz8PznJ57buucBVthLyIFkdCoDACMmKISDjaM0/83Es++47vP0UdaLzxEmgICDBEmqpVyMr6Yy5r9eTsBp3Y+Aql7CBKRfZGrYQMiBGs6Xbq0JSEso2eATx4PSQJvDc+MAAAAASUVORK5CYII=" width="48" height="48"></span></h1>

		</nav>

</header>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapse1"><span>Day 1</span>
        <span class="pull-right glyphicon glyphicon-plus"></span>
        </a> 
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
      <p>Copy and paste this URL into your browser to see our example:   codifyacademy.com/week3/beginner.jpg</p>

		  <p>When Finished: Email a compressed version of your google replica to your mentor.</p>

      <p>Create paper prototype for Orange Juice image</p>

      <p>Create code from your paper prototype</p>

      <p>Validate code using HTML5 & CSS3 Validators</p>

      <p>Push your project files to Github & add the link in the input below!</p>

      

		<div class="row text-center">
    <input class="form-control" ng-model="week3.githubOJlink"/>
			<div class="checkbox">
	            <label style="font-size: 2.5em">
	                <input type="checkbox" ng-model="week3.replicateOj" value="" checked>
	                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
	            </label>
        	</div>
		</div>	
      </div>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapse2">Day 2 & 3
        <span class="pull-right glyphicon glyphicon-plus"></span>
        </a> 
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
      	<p>Copy and paste this URL into your browser to see our example: codifyacademy.com/week3/intermediate.jpg</p>

		<p>Remember, have fun!  Replication is a fast way to learn by doing.</p>

    <p>Having access to no code is usually alot harder. Reach out to your mentors if needed.</p>

		<p>When Finished: Email a compressed version of your simple website replica to your mentor.</p>

    <p>Create paper prototype for Liquid Gem image</p>

      <p>Create code from your paper prototype</p>

      <p>Validate code using HTML5 & CSS3 Validators</p>

      <p>Push your project files to Github & add the link in the input below!</p>

      

		<div class="row text-center">
    <input class="form-control" ng-model="week3.gitHubLiquidGem"/>
			<div class="checkbox">
	            <label style="font-size: 2.5em">
	                <input type="checkbox" ng-model="week3.replicateLiquidGem"value="" checked>
	                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
	            </label>
        	</div>
		</div>

      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapse3">Day 3 & 4
        <span class="pull-right glyphicon glyphicon-plus"></span>
        </a> 
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">
      	<p>Copy and paste this URL into your browser to see our example: codifyacademy.com/week3/advanced.jpg</p>

    <p>Remember, have fun!  Replication is a fast way to learn by doing.</p>

    <p>Having access to no code is usually alot harder. Reach out to your mentors if needed.</p>

    <p>When Finished: Email a compressed version of your simple website replica to your mentor.</p>

    <p>Create paper prototype for Colorful Flat image</p>

      <p>Create code from your paper prototype</p>

      <p>Validate code using HTML5 & CSS3 Validators</p>

      <p>Push your project files to Github & add the link in the input below!</p>

		<div class="row text-center">
    <input ng-model="week3.gitHubLinkFlat" class="form-control"/>
			<div class="checkbox">
	            <label style="font-size: 2.5em">
	                <input type="checkbox" ng-model="week3.colorfulFlatReplica"value="" checked>
	                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
	            </label>
        	</div>
		</div>

      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapse4">Day 5
        <span class="pull-right glyphicon glyphicon-plus"></span>
        </a> 
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body">
      	<p>Fill out your student guide quiz for this week</p>

		<div class="row text-center">
			<div class="checkbox">
	            <label style="font-size: 2.5em">
	                <input type="checkbox" ng-model="week3.quiz"value="" checked>
	                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
	            </label>
        	</div>
		</div>

    <p>Codify Academy on Youtube: <a href="https://www.youtube.com/playlist?list=PLvyX_84L7-lvtfaQnfZrlb7TAU9TZKsMP">Week 4 Prep Youtube Review</a></p>
        
        <div class="row text-center">
      <div class="checkbox">
              <label style="font-size: 2.5em">
                  <input type="checkbox" ng-model="week3.video"value="" checked>
                  <span class="cr"><i class="cr-icon fa fa-check"></i></span>
              </label>
          </div>
    </div>

      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapse5">Bonus Reading
        <span class="pull-right glyphicon glyphicon-plus"></span>
        </a> 
      </h4>
    </div>
    <div id="collapse5" class="panel-collapse collapse">
      <div class="panel-body">
      	<p>Read 25 Epic Design Tips for Non-Designers, this is some great inside info on design techniques.</p>

        <p>Some times developers have to deal with designer things, and even those that don't, should know the basic concepts.</p>

        <p>Check out <a href="http://designschool.canva.com/blog/graphic-design-tips-non-designers/">- Graphic-design-tips-non-designers -</a>  for alot of great design tips</p>
      	

      	<div class="row text-center">
			<div class="checkbox">
	            <label style="font-size: 2.5em">
	                <input type="checkbox" ng-model="week3.bonusReading"value="" checked>
	                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
	            </label>
        	</div>
		</div>

      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapse6">Bonus
        <span class="pull-right glyphicon glyphicon-plus"></span>
        </a> 
      </h4>
    </div>
    <div id="collapse6" class="panel-collapse collapse">
      <div class="panel-body">
	      <p>Mission: Read through 6 lessons ( #1, #2, #3, #4, #7, and #8 ) of Shay Howe's HTML & CSS Advanced Tutorial</p>

<p>Goal: Learn more about great Advanced CSS techniques</p>

<p>"Shay Howe's HTML & CSS Advanced Tutorial": http://learn.shayhowe.com/advanced-html-css/</p>

<p>As you read:</p>

<ul style="text-align: center;">
  <li>Learn how to improve site performance using minified files / image compression / file structure / reusable code</li>
  <li>Learn how to Contain Floats and Clearfix elements</li>
  <li>Learn how the z-index property works with other elements</li>
  <li>Learn what the position property can do - static / relative / absolute / fixed</li>
  <li>Learn Common and advanced CSS selectors </li>
  <li>Learn how to make web projects responsive using Grids and Media Queries</li>
  <li>Learn how Transforms, Transition and Animations can take your web projects to the next level </li>
</ul>

<p>If something isn't making sense, be sure to utilize w3schools.com, sometimes all it takes is a live example to help you understand, or google it!.</p>

	<div class="row text-center">
			<div class="checkbox">
	            <label style="font-size: 2.5em">
	                <input type="checkbox" ng-model="week3.bonusShayHowe"value="" checked>
	                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
	            </label>
        	</div>
		</div>

      </div>
    </div>
  </div>

  

</div>
<button ng-click="exit()" class="button is-ruby">Exit</button>

</section>

