<section ng-controller="WeekFifteenCtrl">
<!-- menu div -->
<div class="text-left">
	<button class="btn btn-xs btn-primary text-left" ng-click="openNav()">Menu</button>
</div>
<!-- shared view -->
<ng-include src="'views/shared/nav.html'"></ng-include>
<!-- must include main -->
<div id="main">
<ng-include src="'views/shared/progressbar.html'"></ng-include>
<div class="row">
	<div class="col-md-2">
		<ng-include src="'views/shared/nav.html'"></ng-include>
	</div>
	<div class="col-md-10">
		</div>
			<h2>Write an app that searches by hashtag and collects submissions from Instagram and then displays the returned data to the screen with newly created JavaScript elements.
<br><br>
Instagram hashtags: <a href="https://www.instagram.com/developer/endpoints/tags/#get_tags">https://www.instagram.com/developer/endpoints/tags/#get_tags</a>
<br><br>
You will need an Instagram Access Token, found here: <a href="http://instagram.pixelunion.net/">http://instagram.pixelunion.net/</a> (if you don't have instagram, you will need to sign up real quick)
<br><br>
In your JS you can utilize $.ajax() or $http.jsonp() to call the data into your application. 
<br><br>
Finally Display it to the screen for the user to see, consider wrapping each post in an a tag, you can link to their instagram account!
<br><br>
Add any additional functionality you'd like to see: search by date, pagination for additional pages, fun animations.
<br><br>
Check out our basic version: <a href="http://codifyacademy.com/instagramapi/">http://codifyacademy.com/instagramapi/</a></h2>

			<div class="row text-center">
			<input placeholder="Enter your github URL here" type="text" name="" class="form-control" ng-model="chapter15.instagramappURL" />
				<div class="checkbox">
			        <label style="font-size: 2.5em">
			            <input type="checkbox" ng-model="chapter15.instagramapp" value="" ng-change="adjustProgress(5, chapter15.instagramapp)" checked>
			            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
			        </label>
				</div>
			</div>
			<div class="btn-toolbar">
				<button ng-click="proceed('chapter15.2')" class="button is-ruby pull-right" ng-show="chapter15.instagramapp"><span class="glyphicon glyphicon-chevron-right"></span></button>	
			</div>
			
			<button ng-click="proceed('home')" class="button is-ruby">Exit</button>
		</div>
	</div>

</section>

