<section ng-controller="WeekTenCtrl">
	<ng-include src="'views/shared/progressbar.html'"></ng-include>
	<h2>Practice using each of these array methods listed on w3schools in your own js file. Change the name of the variables, and all content inside of the variables.

http://www.w3schools.com/js/js_array_methods.asp</h2>

	<div class="row text-center">
		<div class="checkbox">
	        <label style="font-size: 2.5em">
	            <input type="checkbox" ng-model="chapter10.advancedProject" value="" ng-change="adjustProgress(5, chapter10.advancedProject)" checked>
	            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
	        </label>
		</div>
	</div>

	<button ng-click="modalMe('Chapter 11')" class="button is-ruby text-center" ng-show="chapter10.advancedProject" data-toggle="modal" data-target="#successModal">You're DONE!</button><br>
	<button ng-click="proceed('home')" class="button is-ruby">Exit</button>

	<!-- Modal -->
<div id="successModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        
        <ng-include src="'views/shared/success.html'"></ng-include>
        

      <div class="modal-footer">
      	<button ng-click="finishChapter('1.1')"class="button is-blue-jeans pull-right" data-dismiss="modal">Continue</button>
        <button class="button is-ruby pull-left" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

</section>
