<section ng-controller="WeekFourteenCtrl">
	<ng-include src="'views/shared/progressbar.html'"></ng-include>
	<h2>Get ready for next week's class by coding along with the videos.
<br><br>
Codify Academy on Youtube: Week 14 Prep Youtube Review

</h2>

	<div class="row text-center">
		<div class="checkbox">
	        <label style="font-size: 2.5em">
	            <input type="checkbox" ng-model="chapter14.videos" value="" ng-change="adjustProgress(5, chapter14.videos)" checked>
	            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
	        </label>
		</div>
	</div>

	<button ng-click="modalMe('Chapter 15')" class="button is-ruby text-center" ng-show="chapter14.videos" data-toggle="modal" data-target="#successModal">You're DONE!</button><br>
	<button ng-click="proceed('home')" class="button is-ruby">Exit</button>

	<!-- Modal -->
<div id="successModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        
        <ng-include src="'views/shared/success.html'"></ng-include>
        

      <div class="modal-footer">
      	<button ng-click="finishChapter('15.1')"class="button is-blue-jeans pull-right" data-dismiss="modal">Continue</button>
        <button class="button is-ruby pull-left" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

</section>
