<section ng-controller="WeekEightCtrl">
<!-- menu div -->
<div class="text-left">
	<button class="btn btn-xs btn-primary text-left" ng-click="openNav()">Menu</button>
</div>
<!-- shared view -->
<ng-include src="'views/shared/nav.html'"></ng-include>
<!-- must include main -->
<div id="main">
	<ng-include src="'views/shared/progressbar.html'"></ng-include>
	<h2>Goal: Read Jon Duckett's JavaScript Book
<br><br>
Chapter 3 - Functions, Methods and Objects: Read and Code - Only p.85 - 105
<br><br>
Chapter 4 - Decisions & Loops: Read and Code p.145 - 182</h2>

	<div class="row text-center">
		<div class="checkbox">
	        <label style="font-size: 2.5em">
	            <input type="checkbox" ng-model="chapter8.jsreading"value="" ng-change="adjustProgress(5, chapter8.jsreading)" checked>
	            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
	        </label>
		</div>
	</div>

	<button ng-click="modalMe('Chapter 9')" class="button is-ruby text-center" ng-show="chapter8.jsreading" data-toggle="modal" data-target="#successModal">You're DONE!</button><br>
	<button ng-click="proceed('home')" class="button is-ruby">Exit</button>

	<!-- Modal -->
<div id="successModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        
        <ng-include src="'views/shared/success.html'"></ng-include>
        

      <div class="modal-footer">
      	<button ng-click="finishChapter('9.1')"class="button is-blue-jeans pull-right" data-dismiss="modal">Continue</button>
        <button class="button is-ruby pull-left" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
</div>
</section>
