<section ng-controller="WeekFourCtrl">
	<ng-include src="'views/shared/progressbar.html'"></ng-include>
	<h2>Copy and paste this URL into your browser to see our example:  codifyacademy.com/week3/intermediate.jpg
<br>
<br>
Remember, have fun! 
<br>
<br>
Having access to no code is usually alot harder. Reach out to your mentors if needed.
<br>
<br>
When Finished: Load your files up to Github, and send you repo url to your mentor for review.</h2>

	<div class="row text-center">
	<input placeholder="Enter your github URL here" type="text" name="" class="form-control" ng-model="chapter4.intermediateProjectURL" />
		<div class="checkbox">
	        <label style="font-size: 2.5em">
	            <input type="checkbox" ng-model="chapter4.intermediateProject"value="" ng-change="adjustProgress(5, chapter4.intermediateProject)" checked>
	            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
	        </label>
		</div>
	</div>

	<div class="btn-toolbar">
		<button ng-click="proceed('chapter4.1')" class="button is-ruby pull-left"><span class="glyphicon glyphicon-chevron-left"></span></button>

		<button ng-click="proceed('chapter4.3')" class="button is-ruby pull-right"ng-show="chapter4.intermediateProject"><span class="glyphicon glyphicon-chevron-right"></span></button>	
	</div>

	<button ng-click="proceed('home')" class="button is-ruby">Exit</button>	
</section>
